@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #171717;
	background-color: #f5f5f5;
	margin: 0;
}

input {
	border-radius: 0.375rem;
	border: 2px solid theme("colors.border-light");
	background-color: theme("colors.neutral.50");
}

button {
	border-radius: 0.375rem;
	border: 2px solid theme("colors.border-light");
}

button:hover {
	opacity: 0.8;
}
